body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #191616;
}
header {
    background-color: #5b04fc;
    color: aliceblue;
    text-align: center;
    padding: 30px;
}
main {
    width: 80%;
    margin: 30px auto;
    color: aliceblue;
}
.food-container {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    gap: 25px;
    justify-content: center;
}

.food {
    background-color: rgb(0, 0, 0);
    padding: 20px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgb(50, 49, 49);
}
button {
    background-color: #6200ff;
    color: black;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
}
button:hover {
    background-color: #7c2cff;
}

form {
  color: aliceblue;
   background-color: rgb(0, 0, 0);
    padding: 20px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgb(50, 49, 49);
}
.checkout-container {
    width: 80%;
    max-width: 700px;
    margin: 0 auto;
}

.cart-section {
  background-color: rgb(0, 0, 0);
    padding: 20px;
     width: 32%;
     margin: 5px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgb(50, 49, 49);
     color: aliceblue;
}

.order-section {
 margin: 40px auto;
}

.order-form {
    background-color: rgb(0, 0, 0);
    width: 510px;
    padding: 25px;
    margin: 5px;
    border-radius: 10px;
}

.order-form label {
    display: block;
    margin-top: 15px;
    margin-bottom: 6px;
}

.order-form input,
.order-form textarea,
.order-form select {
    width: 100%;
    box-sizing: border-box;
    padding: 9px;
}

.order-form textarea {
    height: 80px;
    resize: vertical;
}
#clear-cart {
    margin-top: 15px;
}
.order-form button {
    margin-top: 90px;
}
.Drinks {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    gap: 25px;
    justify-content: center;
}
.drinks {
    background-color: rgb(0, 0, 0);
    padding: 20px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgb(50, 49, 49);
}
nav {
  color: aliceblue;
}